<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="formstyle.css">
</head>
<body>
    <main>
        <form action="/login" method="post">
            <h1 id="login-text">Login</h1>
            <input required="true" id="email" type="text" name="email" placeholder="Email" value= "<%= locals.email %>">
            <input required="true" id="password" type="password" name="password" placeholder="Password">
            <p class="error"><%= locals.message %></p>
            <button id="submit">Login</button>
        </form>
    </main>
</body>
</html>